body{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    height: 70vh;
}
div{
    font-size: 32px;
    color: #E5E6E5;
}
#above{
    border: none;
    font-size: 24px;
    color: #E5E6E5;
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: bold;
    width: 170px;
    padding: 8px;
}
#below{
    border:3px solid #E5E6E5;
    font-size: 24px;
    color: #E5E6E5;
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: bold;
    width: 170px;
    padding: 8px;
}
.placeholder{
    display:flex;
    background-color: rgba(110, 110, 110, 0.473);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px;
}
.container{
    display: flex;
    gap: 16px;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
}
.quote{
    font-size: 44px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
}
.dock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.walls{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
    height: 77vh;
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
}
.header{
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textbox{
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 250px;
}
.information{
    font-size: 44px;
    font-weight: 900;
    color: #1F2937;
}
.source{
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-right: 100px;
    align-self:flex-end;
}
.title{
    font-size: 56px;
    font-weight: 900;
    color: #F9FAF8;
}
ul{
    display: flex;
    gap: 16px;
    margin: 0;
    list-style-type: none;
}
a{
    font-size: 26px;
    color: #E5E7EB;
    text-decoration: none;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secondary, .description, .title{
    max-width: 1000px;
}
.description{
    font-size: 26px;
    color:#1F2937;
}
.secondary{
    font-size: 26px;
    color: #E5E7EB;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 250px;
    gap: 60px;
}
.borders{
    flex: 1 1 250px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: 6px solid #3882F6;
    padding: 20px; 
    box-sizing: border-box;
}
.hero{
    background-color: #1F2937;
}
.quote-section{
    background-color: #E5E7EB;
}
.blue-section{
    box-sizing: border-box;
    border-radius: 12px;
    width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: #3882F6;
}
.last{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}
#footer-section{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%; 
}
#footer{
    font-size:large;
}